*{
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.container{
  background-color: #1C1C1C;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
input{
  background-color: #1C1C1C;
  border: none;
  width: 345px;
  text-align: right;
  color: #D4D4D2;
}
table{
  display: inline;
}
th{
  display: inline;
}
button{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px 5px;
  background-color: #505050;
  border: none;
}
.gray{
background-color:  #D4D4D2;
}
.orng{
  background-color: #FF9500;
}
.zero{
  width: 170px !important;
  border-radius: 50px;
}